!!! 5
html
  head
    title= title
    meta(property="og:title", content=title)
    meta(property="og:description", content=description)
    meta(property="og:image", content=thumbnail)
    link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel='stylesheet', href='http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css')
    link(rel='stylesheet', href='http://code.jquery.com/ui/1.8.20/themes/excite-bike/jquery-ui.css')
    script(src='http://code.jquery.com/jquery-latest.min.js')
    script(src='http://code.jquery.com/ui/1.8.20/jquery-ui.min.js')
    //script(src='http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js')
    script(src='/extensions/jindo/jindo.desktop.min.ns.js')
    script(src='/extensions/jindo/jindo.LazyLoading.js')
    script(src='/extensions/jindo/jindo.Component.js')
    script(src='/extensions/jindo/jindo.UIComponent.js')
    script(src='/extensions/jindo/jindo.Transition.js')
    script(src='/extensions/jindo/jindo.Timer.js')
    script(src='/extensions/jindo/jindo.Effect.js')
    script(src='/extensions/jindo/jindo.FloatingLayer.js')
    script(src='/extensions/jindo/jindo.LayerPosition.js')
    script(src='/extensions/jindo/jindo.Foggy.js')
    script(src='/extensions/jindo/jindo.Dialog.js');
    script(src='/extensions/jindo/jindo.ModalDialog.js');
    script(src='/js/com.iamdenny.js')
    script(src='/js/com.iamdenny.background.js')
    script(src='/js/com.iamdenny.background.abstract.js')
    script(src='/js/com.iamdenny.links.js')
    script(src='/js/main.js')
    script
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-23174901-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  body#body!= body